*{
    padding:0;
    margin :0;
    font-family: 'Noto Sans', sans-serif;
 }
 .paronep:hover{
    color: #000000;
}
.bordpone:hover{
    color: #000000;
}
.bordptwo:hover{
    color: #000000;
}
.more:hover{
    color: #000000;
}
.fa-solid:hover{
    color: #ffffff;
}
.ranp:hover{
    color: #000000;
}

 .navbar{
    background-color: rgba(26, 24, 24, 0.89);
    width: 100%;
    height: 120px;
 }
 .fa-solid{
    color: orangered;

 }
 .fa-brands{
    padding-left: 600px;
    padding-top: 11px;
    border-color: #fff;

 }
 .childnav {
     color: orangered;
     font-size: 30px;
     padding-left: 25px;
     padding-top: 10px;
 }
.selver{
    background-color: rgb(128, 146, 165);
    width: 1140px;
    height: 45px;
    margin-left: 209px;
    display: flex;
}
.selverone{
    display: flex;
    margin-top: -15px;
    margin-left: 600px;
}
.navtop{
    display: inline-block;
    padding-left:30px;
    padding-top: 5px;
    
}

.navtop0{
    display: inline-block;
    padding-left: 20px;
    padding-top: 5px;
    
}
.pag a:hover{
    color: orangered;

}
.pag{
    text-align: center;
    margin-top: -25px;
    
}
.col1{
    display: inline-block;
    margin: 10px;
    
}

.joing{
    background-color: orangered;
    width: 100px;
    height: 40px;
    margin-left: 1200px;
    margin-top: -30px;
    border-radius:5px ;
}
.joingcheld a:hover{
    color: #000000;
}
.hov{
    color: #fff;
}

.joingcheld{
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.imgone{
    background-image:linear-gradient(rgba(0,0,0,0.612),rgba(0,0,0,0.646)), url(carousel-1.jpg);
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    
}
.fa-angle-left {
    color: #4b4b4bb6;
    margin-left: 77px;
}

.fa-angle-right{
    color: #4b4b4bb6;
margin-left: 400px;
}

.imgp{
text-align: center;
color: #fff;
font-size: 25px;
margin-left: 450px;
margin-top: -220px;
}
.imgoneh{
    text-align: center;
    color: #fff;
  font-size: 40px;
  
} 

.imgonep a:hover{
color: #000000;
}
.imgonep{
    background-color: orangered;
    text-decoration: none;
    width: 130px;
    height: 40px;
    margin-left: 450px;
    margin-top: 60px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
}
.imgtwop{
    background-color: rgb(255, 255, 255);
  
    width: 130px;
    height: 40px;
    margin-left: 600px;
    margin-top: -60px;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    border-radius:5px ;
}

a{
    text-decoration: none;
}
.classonep{
    text-align: center;
    padding-top: 100px;
    color: orangered;
   
   }
   .classoneh{
       text-align: center;
   
   }
   .big{
       display: flex;
       margin:35px 450px;
     
     width: 600px;
   
   }
   .fa-solid fa-star{
       background-color: orangered;
       
   }
   .bigonep{
       background-color: orangered;
       color: #fff;
       
       border-radius: 10px;
   }
   .bigone{
       background-color: #1d1d20 ;
       border-radius: 10px;
       width: 580px; 
   }
   .bigspone{
       background-color: #1d1d20 ;
       color: #fff;
       border-radius: 10px; 
       margin-right: 15px;
   }
   
   .bigsptwo{
       background-color: #1d1d20 ;
       color: #fff;
       border-radius: 10px;
       margin-right: 10px; 
   }
   .bigsptree{
       background-color: #1d1d20 ;
       color: #fff;
       border-radius: 10px;
       margin-right: 10px; 
   }
   .bigspfour{
       background-color: #1d1d20 ;
       color: #fff;
       border-radius: 10px;
       margin-right: 10px; 
   }
   .bigspfive{
       background-color: #1d1d20 ;
       color: #fff;
       border-radius: 10px;
       margin-right: 10px; 
   }
   .bigspsix{
       background-color: #1d1d20 ;
       color: #fff;
       border-radius: 10px;
       
   }
   .eigt{
       display: flex;
       text-align: center;
   }
   .eihtone{
       background-color: #1d1d20 ;
       width: 600px;
       height: 150px;
       margin: 30px;
       padding-top: 100px;
       color: #fff;
   }
   .eigtone{
       display: flex;
       text-align: center;
   }
   .eihttwo{
       background-color: #1d1d20 ;
       width: 600px;
       height: 150px;
       margin: 30px;
       padding-top: 100px;
       color: #fff;
   }
   .eightonep{
       color: orangered;
   }
   .eighttwop{
       color: #ffffff71;
   }
   .bigtap{
       background-color: #1d1d20 ;
       width: 100%;
       height: 200px;
   
       display: flex;
       
   }   
   .tap{
   text-align: center;
   
       
   }
   .taponep{
       color: #fff;
       margin-top: 80px;
       margin-left: 40px;
   }
   .taptwop{
       color: #fff;
       margin-left: 150px;
       margin-top: 80px;
       
   }.taptreep{
       color: #fff;
       margin-left: 200px;
       margin-top: 80px;
   }.tapfourp{
       color: #fff;
       margin-left: 250px;
       margin-top: 80px;
   }
   .taponeh{
       color:#fff;
       margin-left: 40px;
   
   }
   .taptwoh{
       color:#fff;
       margin-left: 150px;
       
   }
   .taptreeh{
       color:#fff;
       margin-left: 200px;
       
   }
   .tapfourh{
       color:#fff;
       margin-left: 250px;
       
   }
   .doun{
    display: flex;
    background-color: #1d1d20 ;
    width: 100%;
    height: 300px;
    margin-top: 100px;

}
.doun{
    display: flex;
    background-color: #1d1d20 ;
    width: 100%;
    height: 300px;
    margin-top: 100px;

}
.dounone{
    
    margin-left: 25px;

}
.fa-brands{
    margin-top: 25px;
margin-left: -580px;
padding-top: 10px;
}
.dounonep{
    color: #fff;
    padding-bottom: 15px;
    font-size: 25px;
}
.dountwop{
    margin-left: 25px;
color: #ffffff71;
}
.dountwo{
    
    margin-left: 100px;
}
.dountwopp{
    color: #fff;
    padding-bottom: 15px;
    font-size: 25px;
}
.dounptwop{
    padding-bottom: 10px;
color: #ffffff71;
}

.dountwops{
    color: #fff;
    padding-bottom: 15px;
    font-size: 25px;
}
.dountree{
    
    margin-left: 100px;
}
.dounfor{
    background-color: orangered;
    width:500px;
    height: 300px;
    margin-left: 30px;
}
.ponedoun{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
.ponedtwo{
    color: #fff;
    text-align: center;
    margin-top: 60px;
}
.ponedtree{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.emsi{
    display: flex;
    
}
input{
    width: 200px;
    height: 40px;
    margin-left: 100px;
    
}
.ch{
    background-color: #1d1d20;
    width: 80px;
    height: 44px;
}
.ponedfor{
    color: #fff;
    text-align: center;
    padding-top: 7px;
}
.ponedfive{
    color: #fff;
    text-align: center;
}
.navdun{
    background-color: #000000;
    width: 100%;
    height: 50px;
}
.navone{
    text-align: center;
    color: #fff;
    padding-top: 10px;
}
